<!-- Master Intake -->
<div class="container">
  <div> <!-- [hidden]="submitted" -->
    <!-- <h1>Master Intake</h1> -->
     <form #ngForm="ngForm" (ngSubmit)="createClass(ngForm.value)"> <!-- (ngSubmit)="onSubmit()" *ngIf="!submitted" -->

      <div class="form-group" id="id">
        <label for="name">Intake Code</label>
        <input type="text" class="form-control" id="code" required [(ngModel)]="intake.code" name="code" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Code is required
        </div>
      </div>

      <div class="form-group" id="name">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="intake.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" id="status" required [(ngModel)]="intake.status" name="status" #pow="ngModel">
          <option *ngFor="let pow of status" [value]="pow">{{pow}}</option>
        </select>
        <div [hidden]="pow.valid || pow.pristine" class="alert alert-danger">
          Status is required
        </div>
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
      <button type="button" class="btn btn-default" (click)="ngForm.reset()">Add New User</button>

    </form>
  </div>
</div>

<br><hr>







