.container-table {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

table {
  border: 1px solid black;
  margin-top: 25px;
  max-width: 80%;
}

mat-header-cell{
  font-size: medium;
  font-weight: bolder;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.41);
}

mat-cell{
  color: black;
}


